{msg_original, test, 10000, m_test, "ping", byte,
	[
		{msg_attr,		state,		    uint32,		normal,		     "当前状态"}
	]
}.

{msg_original, ping_s2c, 10001, m_test, "ping", byte,
	[
		{msg_attr,		id,		    uint32,			normal,		     "id"},
		{msg_attr,		cp,			crypto_packet,	normal,		     "cp"},
		{msg_attr,		info,		a,				normal,		     "info"}
	]
}.